.modulo, .moduloResto {
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.moduloResto{
  background-color: #e6e6e6;
}

.modulo.modAtivo {
  border: 2px solid #e84e83;
  border-left: 10px solid #e84e83;
}

.modulo p, .moduloResto p {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.modulo input, .moduloResto input, .modulo textarea, .moduloResto textarea {
  margin-bottom: 20px;
  border: none;
  padding: 5px 10px;
  resize: none;
  font-style: italic;
}

.modulo>div:nth-of-type(1), .moduloResto>div:nth-of-type(1) {
  display: flex;
  justify-content: space-around;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(1), .moduloResto>div:nth-of-type(1)>div:nth-of-type(1) {
  width: 70%;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(1)>input, .moduloResto>div:nth-of-type(1)>div:nth-of-type(1)>input {
  width: 90%;
  width: 97%;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(2), .moduloResto>div:nth-of-type(1)>div:nth-of-type(2) {
  width: 15%;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(2)>p, .moduloResto>div:nth-of-type(1)>div:nth-of-type(2)>p {
  text-align: center;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(2)>input, .moduloResto>div:nth-of-type(1)>div:nth-of-type(2)>input {
  width: 90%
}

.modulo>div:nth-of-type(1)>div:nth-of-type(3), .moduloResto>div:nth-of-type(1)>div:nth-of-type(3) {
  width: 15%;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(3)>p, .moduloResto>div:nth-of-type(1)>div:nth-of-type(3)>p {
  text-align: center;
}

.modulo>div:nth-of-type(1)>div:nth-of-type(3)>input, .moduloResto>div:nth-of-type(1)>div:nth-of-type(3)>input {
  width: 100%;
}

.modulo>div:nth-of-type(2), .moduloResto>div:nth-of-type(2) {
  margin-top: 25px;
  display: flex
}

.modulo>div:nth-of-type(2)>div, .moduloResto>div:nth-of-type(2)>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

/* Rodapé */
.rodapeModulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rodapeModulo>div {
  display: flex;
  flex-direction: row;
  background-color: #e84e83;
}

.rodapeModulo>div>div {
  color: white;
  cursor: pointer;
}

.rodapeModulo>div>div:nth-of-type(1) {
margin: 8px 0px 8px 16px;
    border-right: 1px solid white;
    padding-right: 16px;
}

.rodapeModulo>div>div:nth-of-type(2) {
  margin: 8px 16px 8px 16px;
}

#etapa1, #etapa2, #etapa3, #etapa4, .moduloResto, .faixa, #header-fixo{
  display: none;
}
